<% if @article.errors.any? %>
	<h2>The following errors</h2>
	<ul>
	<% @article.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>
<div class="row">
	<div class="col-md-12">
		<%= form_for @article,:html =>{role:"form"} do |f| %>
			<div class="form-group">
				<%= f.label :title%><br/>
				<%= f.text_field :title, class:"form-control", placeholder:"Introduce un titulo", autofocus: true%>
			</div>
			<div class="form-group">
				<%= f.label :description%><br/>
				<%= f.text_area :description, class:"form-control", placeholder:"Introduce una descripción"%>
			</div>
			<div>
				<%= f.submit class:"btn btn-primary btn-lg"%>
			</div>
		<% end %>
		<div style="float:right;">
			[<%= link_to "Cancel request and return to articles listing", articles_path%>]
		</div>
	</div>
</div>